on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  clang-format:
    name: Clang Format Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
            ref: ${{ inputs.git_ref }}
            submodules: true
      - name: Install latest clang-format
        run: sudo apt-get install clang-format
      - name: Run clang-format
        run: make format
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
            ref: ${{ inputs.git_ref }}
            submodules: true
      - name: Run unit tests
        run: make test
  